---
# front matter tells Jekyll to process Liquid
layout: default
title: Home
---

<h1>Blog RGodinez</h1>
<h1>{{ "blog RGodinez" | capitalize }}</h1>
<h1>{{ "BLOG RGODINEZ" | downcase }}</h1>
<h1>{{ "RGodinez Blog" | capitalize }}</h1>
